/***************************************************GLOBALS***************************************************/
* { /*Removes the default margins and padding and makes element sizing more accurate*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	flex-shrink: 0;
}

:root {
	font-size: 16px;
}