/**************************************************Globals**************************************************/
* { /*Removes the default margins and padding and makes element sizing more accurate*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	flex-shrink: 0;
}

:root {
	font-size: 16px;
	--accent-color-one: #540D0D;
	--accent-color-two: #ED9A9A;
	--main-color: #D42222;
	--accent-color-three: #542727;
	--accent-color-four: #A11A1A;
	--heading-text: 'Thasadith', sans-serif;
}

.divider {
	background-color: var(--accent-color-two);
	height: 50%;
	width: 2px;
}
/**************************************************Banner**************************************************/

/*************************Profile Image*************************/
#banner {
	height: 600px;
	width: 100%;
	background-color: var(--main-color);
	background-image: url('../img/banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

#self-image {
	height: 450px;
	width: 450px;
	border-radius: 50%;
	margin-right: 4%;
}

/*************************Introduction*************************/
h1 {
	font-family: 'Prata', serif;
	font-size: 5.5rem;
}

#intro {
	width: 50%;
	margin-left: 4%;
}

#intro h2 {
	margin-bottom: 35px;
}

#intro p {
	line-height: 2;
	font-size: 1.2rem;
	font-family: var(--heading-text);
	font-weight: 700;
	font-style: italic;
}


/**************************************************Media Queries**************************************************/
@media only screen and (max-width: 1200px) {
	#personal-site > section {
		flex-direction: column;
	}
}

@media only screen and (max-width: 630px) {
	#self-image {
		height: 300px;
		width: 300px;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 2rem;
	}
}